*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1250px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(0, 0, 0);
}

.container .left-side{
    position: relative;
    background: #9e4b07;
    padding: 30px;
}

.contact-info{
    padding-top: 20px;   
}

.title{
    color: rgb(46, 46, 46);
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border: 3px solid rgb(46, 46, 46);
    border-radius: 20px;
    padding: 5px;
}

.contact-info ul{
    position: relative;
}

.contact-info ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contact-info ul li .icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    padding-left: 3px;
    padding-top: 2px;
    font-size: 18px;
    color: #03a9f4;
    border: 3px solid #03a9f4;
    border-radius: 5px;
}

.contact-info ul li span{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
}

.contact-info ul li a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
}

.about ul{
    position: relative;
}

.about ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
}

.about ul li p{
    color: #fff;
    font-weight: 500;
}

.referance ul{
    position: relative;
}

.referance ul li{
    color: #fff;
    font-weight: 300;
}

.referance ul li h3{
    margin-top: 10px;
}

.referance ul li .icon{
    display: inline-block;
    width: 19px;
    width: 30px;
    height: 30px;
    padding-left: 3px;
    padding-top: 2px;
    font-size: 18px;
    color: #03a9f4;
}

.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.profileText .imgBx{
    position: relative;
    width: 175px;
    height: 250px;
    border-radius: 5%;
    overflow: hidden;
}

.profileText .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2{
    font-size: 24px;
    color: rgb(46, 46, 46);
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.2em;
}

.profileText span{
    color: rgb(46, 46, 46);
    font-size: 1em;
    font-weight: 500;
    line-height: 1.2em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    
}

.container .right-side{
    position: relative;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 0px;
}

.container .right-side .skills{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%; /* Genişliği burada ayarlayın */
    min-height: 250px;
    background: rgb(46, 46, 46);
    margin-top: 1000px;
    padding-bottom: 10px;
    bottom: 0px;
}

.skill-title li{
    position: relative;
    list-style: none;
    padding: 50px 30px;
}

.skill-title li span{
    position: relative;
    color: rgb(255, 109, 23) ;
    font-size: 20px;
    padding: 10px;
    border: 3px solid rgb(255, 109, 23) ;
    border-radius: 20px;
}

.skill-title .logos {
    position: relative;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    /* align-items: center; */
}

.skill-title .logos img{
    padding-left: 10px;
}

.skill-title .logos .html{
    border: 5px solid rgb(255, 109, 23) ;
    border-radius: 50%;
    padding: 5px;
}

.skill-title .logos .css{
    border: 5px solid rgb(0, 157, 226) ;
    border-radius: 50%;
    padding: 5px;
}

.skill-title .logos .js{
    border: 5px solid rgb(255, 212, 55) ;
    border-radius: 50%;
    padding: 5px;
}

.skill-title .logos .csharp{
    border: 5px solid rgb(84, 110, 121) ;
    border-radius: 50%;
    padding: 5px;
}

.skill-title .logos .mssql{
    border: 5px solid rgb(217, 229, 233) ;
    border-radius: 50%;
    padding: 5px;
}

.skill-title .logos .vs{
    border: 5px solid rgb(143, 44, 166) ;
    border-radius: 50%;
    padding: 5px;
}

.layout{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1250px;
    background: #fff;
    margin: 50px;
}