*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: #1a1a1a;
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    padding: 20px 5%;
    background: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.checkbtn{
    font-size: 30px;
    color: #00abf0;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media screen and (max-width: 1000px){
    .header .logo{
        font-size: 15px !important;
        width: 150px;
        padding-left: 20px;
    }
    .header .logo img{
        width: 50px;
        margin-right: 15px;
    }

    .header .navbar ul li a{
        font-size: 16px !important;
    }

    .header .logo{
        /* display: flex; */
        display: inline-block;
        align-items: center;
        width: 200px;
        font-size: 25px;
        color: #ededed;
        text-decoration: none;
        font-weight: 600;
    }

    .home{
        display: inline-block;
        flex-direction: column;
        flex-wrap: wrap;
        position: absolute;
        padding: 0 0%;
        margin-top: 30%;
    }

    .home .box{
        display: none;
    }

    .home .home-content h1{
        font-size: 30px;
    }

    .home .home-content h3{
        font-size: 20px;
    }

    .home .home-content p{
        font-size: 16px;
    }

    .home-sci{
        position: fixed !important;
    }

}

@media screen and (max-width: 800px){
    .checkbtn{
        display: block;
    }
    .header .navbar ul{
        position: fixed !important;
        width: 100% !important;
        background: rgb(26, 26, 26);
        height: 60% !important;
        margin-top: 25px;
        top: 80px !important;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .header .navbar ul li{
        display: block !important;
    }
    .header .navbar ul li a{
        font-size: 20px !important;
    }

    .header .navbar ul li a:hover, a.active{

    }
    #check:checked ~ ul{
        left: 0 !important;
    }

    .home-sci{
        position: fixed !important;
        /* justify-content: center; */
        display: flex !important;
        /* align-items: center !important; */
        bottom: 0px;
        left: 0px;
        width: 300px !important;
        height: 60px;
        padding-left: 0px !important;
        background: rgb(26, 26, 26);
    }
    .home-sci a{

        width: 30px !important;
        height: 30px !important;
        background: rgb(26, 26, 26);
    }

}

@media screen and (max-width: 1215px){

    .home .home-content h1{
        font-size: 40px !important;
    }

    .box{
        position: relative;
        margin-left: -100px;
        width: 250px !important;
        height: 250px !important;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        overflow: hidden;
    }
    .box::before{
        content: '';
        position: absolute ;
        inset: -5px 70px !important;
        background: linear-gradient(315deg, #00ccff, #d400d4);
        transition: 0.5s;
        animation: animate 4s linear infinite ;
    }

    .img-div .box:hover::before{
        inset: -20px 0px !important;
    }

    @keyframes animate{
        0%{transform: rotate(0deg);}
        100%{transform: rotate(360deg);}
    }

    .box::after{
        content: '';
        position: absolute;
        inset: 6px !important;
        background: rgb(26, 26, 26);
        border-radius: 50%;
        z-index: 1;
    }

    .box .box-content{
        position: absolute;
        inset: 15px;
        border: 6px solid #070a1c;
        z-index: 3;
        border-radius: 50%;
        overflow: hidden;
    }

    .box-content img{
        position: absolute;
        top: -10px;
        left: 35px !important;
        width: 60%;
        border-radius: 20%;
        object-fit: cover;
        transition: 0.5s;
        pointer-events: none;
    }
}

.header .navbar{
    height: 80px;
    width: 100%;
}

.header .navbar ul{
    float: right;
    margin-right: 20px;
}

.header .navbar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.header .logo{
    display: flex;
    align-items: center;
    width: 200px;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo img{
    width: 75px;
    margin-right: 20px;
}

.navbar .active{
    font-size: 22px;
    background: linear-gradient(45deg, #c712a9, #00abf0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.header a{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}


.header .navbar ul li a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: bold;
    margin-left: 35px;
    transition: .5s;
}

.navbar ul li a:hover{
    font-size: 22px;
    background: linear-gradient(45deg, #c712a9, #00abf0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.home{
    display: flex;
    position: relative;
    margin-top: 15%;
    padding: 0 10%;
    width: 100%;
    height: 100%;
}

.home-content{
    position: fixed;
    display: flex;
    width: 80%;
    height: 100%;
    /* border: 5px solid #070a1c; */
    
}

.home-content .projects{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 5px solid #00abf0;
    border-radius: 30px;
    margin-right: 20px;
    padding: 20px;
    max-width: 50%;
    max-height: 28%;
    width: 300px;
    /* height: 300px; */
    justify-content: center; /* İçeriği yatayda ortala */
    align-items: center; /* İçeriği dikeyde ortala */
}

.projects img{
    position: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.home-content .projects img:hover{
    transform: scale(1.35);
    
}

.home-content .projects h3{
    position: relative;
    color: #fff;
    transition: .5s;
    line-height: 1.4em;
    text-align: center;
    height: 50px;
}

/*-----Link Butonları-----*/
.home-sci{
    position: absolute;
    align-items: center;
    bottom: 0px;
    left: 80px;
    width: 800px;
    height: 60px;
    display: flex;
    background: rgb(26, 26, 26);
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 35px;
    margin-bottom: 20px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 15px;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.home-sci a:hover{
    color: #081b29;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .3s;
}

.home-sci a:hover::before{
    width: 100%;
}
/*------------------------------------*/


.home-content .snake-game-text{
    position: fixed;
    display: flex;
    margin-top: -12%;
    margin-left: 5%;
    color: #fff;
    transition: .5s;
}

