*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #1a1a1a;
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.active{
    background: linear-gradient(45deg, #c712a9, #00abf0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.header a{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo{
    display: flex;
    align-items: center;
    width: 200px;
}

.logo img{
    width: 75px;
    margin-right: 20px;
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .5s;
}

.navbar a:hover{
    background: linear-gradient(45deg, #c712a9, #00abf0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.home{
    height: 100vh;
    background: url();
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    /* background: yellowgreen; */
    max-width: 1000px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p{
    
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    /* margin-top: 5px; */
    width: 150px;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 10px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(1){
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(1):hover{
    color: #081b29;
}

.btn-box a:nth-child(1)::before{
    background: linear-gradient(45deg, #c712a9, #00abf0);
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
    filter: blur(5px);
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 15px;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.home-sci a:hover{
    color: #081b29;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .3s;
}

.home-sci a:hover::before{
    width: 100%;
    
}